#wrapper {
    position:relative;
}

#text_canvas {
    position:absolute;
    left: 0px;
    top: 0px;
    z-index: 5;
    /* width: 825px;
    height: 550px; */
}

#bbox_canvas {
    position:absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
    /* width: 825px;
    height: 550px; */
}

#temp_legend {
    position:absolute;
    top:650px; /* hard coded to appear below the canvas div */
}

#rest {
    position:relative;
    top:600px;
}